
.p-y-60{
	padding-top: 60px;
	padding-bottom: 60px;
}

.p-y-100{
	padding-top: 200px;
	padding-bottom: 200px;
}

.py20{
	padding-top: 20px;
	padding-bottom: 20px;
}

.py20{
	padding-top: 20px;
	padding-bottom: 20px;
}

// .ul-none{
	
// 	list-style: none; 
// }